body {
    background: linear-gradient(to bottom, #ffffff, #ffffff); /* Gradient background */
    color: #333;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
  }

/* Main Content */
.info-container {
    position: relative;
    width: auto;
    margin: auto;
    
    
    margin-bottom: 0;
    text-align: center;
  }
  
  /* Info Columns */
.info-columns {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    padding-bottom: 7px;
        
}
  
.info-column {
    background-color: #fff5d9; /* Pale yellow */
    color: #705c4d; /* Deep mocha */
    flex: 1;
    border: 2px solid #313131;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
  
.info-column:hover {
  transform: scale(1.05);
}
  
 



  
  
  
  